.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    margin: 50px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

input::placeholder {
    font-size: 0.8rem;
    font-weight: normal;
}

.input_validation_error {
    border-bottom-color: red !important;
}

.error_message_container {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: red;
    font-size: 0.8rem;
}

.error_icon {
    display: flex;
    align-items: center;
}

.mail_error_message {
    margin-top: 1rem;
    color: red;
}

.mail_error_message p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.continue_btn{
    width: 100%;
    height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.continue_btn:hover{
    background-color: white;
    color: var(--secondary-color);
    text-decoration: underline;
}

.continue_btn_disabled{
    width: 100%;
    height: 2.1rem;
    cursor: not-allowed;
    color: white;
    background-color: gray;
}

@media (max-width: 768px) {
    .display {
        width: 90%;
    }
}

/* general styles */
.input_field,
.input_field_button{
    margin-top: 2rem;
}