.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    margin: 50px 0;
    height: fit-content;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::placeholder {
    font-size: 0.8rem;
    font-weight: normal;
}

.input_validation_error {
    border-bottom-color: red !important;
}

.error_message_container {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: red;
    font-size: 0.8rem;
}

.error_icon {
    display: flex;
    align-items: center;
}

.forgot_password a {
    color: var(--primary-color) !important;
}

.log_in_btn{
    width: 100%;
    height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.log_in_btn_disbled{
    width: 100%;
    height: 2.1rem;
    cursor: not-allowed;
    color: white;
    background-color: gray;
}

.log_in_btn:hover{
    background-color: white;
    color: var(--secondary-color);
    text-decoration: underline;
}

.not_a_member_section{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.not_a_member_text{
    color: gray;
}

.register_redirect_link a{
    color: var(--primary-color) !important;
}

@media (max-width: 768px) {
    .display {
        width: 90%;
    }
}

/* general styles */
.email_input,
.password_input,
.forgot_password,
.login_button,
.not_a_member_section{
    margin-top: 2rem;
}

/* toastify */
@media only screen and (max-width: 480px) {

    :global(.Toastify__toast-container) {

        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
    }

}