.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    margin: 50px 0;
    height: fit-content;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::placeholder {
    font-size: 0.8rem;
    font-weight: normal;
}

.conditions_checkbox_label_display,
.confirm_password_checkbox_label_display,
.password_checkbox_label_display{
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
}

.conditions_checkbox_label_display_margin_top,
.conditions_checkbox_label_display{
    display: inline-flex;
    gap: 0.3rem;
    align-items: flex-start;
    cursor: pointer;
    font-size: 0.7rem;
}

.confirm_password_input_changer_checkbox,
.password_input_changer_checkbox{
    display: inline-flex;
    align-items: center;
}

.conditions_checkbox_label_display input[type="checkbox"],
.conditions_checkbox_label_display_margin_top input[type="checkbox"],
.confirm_password_input_changer_checkbox input[type="checkbox"],
.password_input_changer_checkbox input[type="checkbox"] {
    accent-color: var(--primary-color);
    cursor: pointer !important;
}

.conditions_checkbox_label_display_margin_top input[type="checkbox"],
.conditions_checkbox_label_display input[type="checkbox"] {
    transform: scale(0.8);
}

.conditions_checkbox_label_display p a,
.conditions_checkbox_label_display_margin_top p a {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.register_btn{
    width: 100%;
    height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.register_btn:hover{
    background-color: white;
    color: var(--secondary-color);
    text-decoration: underline;
}

.register_btn_disabled{
    width: 100%;
    height: 2.1rem;
    cursor: not-allowed;
    color: white;
    background-color: gray;
}

@media (max-width: 768px) {
    .display {
        width: 90%;
    }
}

/* general styles */
.input_validation_error {
    border-bottom-color: red !important;
}

.error_message_container {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: red;
    font-size: 0.8rem;
}

.error_icon {
    display: flex;
    align-items: center;
}

.first_name_input,
.last_name_input,
.contact_no_input,
.email_input,
.password_input,
.confirm_password_input{
    margin-top: 2rem;
}

.conditions_checkbox_label_display_margin_top{
    margin-top: 1rem;
}

.confirm_password_checkbox_label_display,
.password_checkbox_label_display,
.register_button{
    margin-top: 0.5rem;
}

/* toastify */
@media only screen and (max-width: 480px) {

    :global(.Toastify__toast-container) {

        width: 90vw !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

}