.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    background-color: white;
}

.display{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mail_icon{
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_for_mail_icon{
    font-size: 5rem;
    padding: 1rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    text-align: center;
}

.resend_button{
    width: 30%;
}

.resend_btn{
    border: 2px solid var(--primary-color);
    background-color: transparent;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.resend_btn_disabled{
    border-color: gray;
    background-color: gray;
    cursor: not-allowed;
}

.resend_btn:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .display {
        width: 90%;
    }
}