.initial_loading{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.link_expired_container,
.page_not_found_container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.display {
    border: 1px solid rgb(178, 178, 178);
    width: 35%;
    padding: 1rem;
    border-radius: 10px;
}

input::placeholder {
    font-size: 0.8rem;
    font-weight: normal;
}

.password_checkbox_label_display{
    margin-top: 0.2rem;
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
}

.password_input_changer_checkbox{
    display: inline-flex;
    align-items: center;
}

.password_input_changer_checkbox input[type="checkbox"] {
    accent-color: var(--primary-color);
    cursor: pointer !important;
}

.password_input_changer_label label{
    cursor: pointer;
}

.password_hint {
    margin-bottom: 0.5rem;
}

.password_hint small {
    font-size: x-small;
}

.save_changes_btn {
    width: 100%;
    height: 2.1rem;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.save_changes_btn_disabled {
    width: 100%;
    height: 2.1rem;
    background-color: gray;
    color: white;
    border: none;
    font-size: 0.9rem;
    cursor: not-allowed;
}

.save_changes_btn:hover{
    background-color: white;
    color: var(--secondary-color);
    text-decoration: underline;
}

/* link expired */
.link_expired_display,
.page_not_found_display{
    width: 50%;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.expired_icon{
    font-size: 5rem;
}

/* page not found */
.page_not_found_code h1{
    font-size: 5rem;
}

.page_not_found_heading h2{
    font-size: 2rem;
}

/* general styles */
.password_input,
.forgot_password,
.save_changes_button{
    margin-top: 1rem;
}

.input_validation_error {
    border-bottom-color: red !important;
}

.error_message_container {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: red;
    font-size: 0.8rem;
}

.error_icon,
.expired_icon {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .display,
    .link_expired_display,
    .page_not_found_display{
        width: 90%;
    }
}